<?xml version="1.0"?>
<config>
    <modules>
        <Indglobal_Categorysearch>
            <version>0.1.0</version>
        </Indglobal_Categorysearch>
    </modules>
    <frontend>
        <routers>
            <categorysearch>
                <use>standard</use>
                <args>
                    <module>Indglobal_Categorysearch</module>
                    <frontName>categorysearch</frontName>
                </args>
            </categorysearch>
        </routers>
        <layout>
            <updates>
                <categorysearch>
                    <file>categorysearch.xml</file>
                </categorysearch>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<categorysearch>
				<use>admin</use>
				<args>
					<module>Indglobal_Categorysearch</module>
					<frontName>categorysearch</frontName>
				</args>
			</categorysearch>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<categorysearch module="categorysearch">
				<title>Categorysearch</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="categorysearch">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>categorysearch/adminhtml_categorysearch</action>
					</items>
				</children>
			</categorysearch>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Indglobal_Categorysearch>
							<title>Categorysearch Module</title>
							<sort_order>10</sort_order>
						</Indglobal_Categorysearch>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<categorysearch>
					<file>categorysearch.xml</file>
				</categorysearch>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <categorysearch>
                <class>Indglobal_Categorysearch_Model</class>
                <resourceModel>categorysearch_mysql4</resourceModel>
            </categorysearch>
            <categorysearch_mysql4>
                <class>Indglobal_Categorysearch_Model_Mysql4</class>
                <entities>
                    <categorysearch>
                        <table>categorysearch</table>
                    </categorysearch>
                </entities>
            </categorysearch_mysql4>
        </models>
        <resources>
            <categorysearch_setup>
                <setup>
                    <module>Indglobal_Categorysearch</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </categorysearch_setup>
            <categorysearch_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </categorysearch_write>
            <categorysearch_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </categorysearch_read>
        </resources>
        <blocks>
            <categorysearch>
                <class>Indglobal_Categorysearch_Block</class>
            </categorysearch>
        </blocks>
        <helpers>
            <categorysearch>
                <class>Indglobal_Categorysearch_Helper</class>
            </categorysearch>
        </helpers>
    </global>
</config>