<?xml version="1.0"?>
<config>
    <modules>
        <Indglobal_Managegrid>
            <version>0.1.0</version>
        </Indglobal_Managegrid>
    </modules>
    <frontend>
        <routers>
            <managegrid>
                <use>standard</use>
                <args>
                    <module>Indglobal_Managegrid</module>
                    <frontName>managegrid</frontName>
                </args>
            </managegrid>
        </routers>
        <layout>
            <updates>
                <managegrid>
                    <file>managegrid.xml</file>
                </managegrid>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<managegrid>
				<use>admin</use>
				<args>
					<module>Indglobal_Managegrid</module>
					<frontName>managegrid</frontName>
				</args>
			</managegrid>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<managegrid module="managegrid">
				<title>Managegrid</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="managegrid">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>managegrid/adminhtml_managegrid</action>
					</items>
				</children>
			</managegrid>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Indglobal_Managegrid>
							<title>Managegrid Module</title>
							<sort_order>10</sort_order>
						</Indglobal_Managegrid>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<managegrid>
					<file>managegrid.xml</file>
				</managegrid>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <managegrid>
                <class>Indglobal_Managegrid_Model</class>
                <resourceModel>managegrid_mysql4</resourceModel>
            </managegrid>
            <managegrid_mysql4>
                <class>Indglobal_Managegrid_Model_Mysql4</class>
                <entities>
                    <managegrid>
                        <table>managegrid</table>
                    </managegrid>
                </entities>
            </managegrid_mysql4>
        </models>
        <resources>
            <managegrid_setup>
                <setup>
                    <module>Indglobal_Managegrid</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </managegrid_setup>
            <managegrid_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </managegrid_write>
            <managegrid_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </managegrid_read>
        </resources>
        <blocks>
            <managegrid>
                <class>Indglobal_Managegrid_Block</class>
            </managegrid>
        </blocks>
        <helpers>
            <managegrid>
                <class>Indglobal_Managegrid_Helper</class>
            </managegrid>
        </helpers>
    </global>
</config>