<?xml version="1.0"?>
<config>
    <modules>
        <Indglobal_Faqmanage>
            <version>0.1.0</version>
        </Indglobal_Faqmanage>
    </modules>
    <frontend>
        <routers>
            <faqmanage>
                <use>standard</use>
                <args>
                    <module>Indglobal_Faqmanage</module>
                    <frontName>faqmanage</frontName>
                </args>
            </faqmanage>
        </routers>
        <layout>
            <updates>
                <faqmanage>
                    <file>faqmanage.xml</file>
                </faqmanage>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<faqmanage>
				<use>admin</use>
				<args>
					<module>Indglobal_Faqmanage</module>
					<frontName>faqmanage</frontName>
				</args>
			</faqmanage>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<faqmanage module="faqmanage">
				<title>Faqmanage</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="faqmanage">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>faqmanage/adminhtml_faqmanage</action>
					</items>
				</children>
			</faqmanage>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Indglobal_Faqmanage>
							<title>Faqmanage Module</title>
							<sort_order>10</sort_order>
						</Indglobal_Faqmanage>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<faqmanage>
					<file>faqmanage.xml</file>
				</faqmanage>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <faqmanage>
                <class>Indglobal_Faqmanage_Model</class>
                <resourceModel>faqmanage_mysql4</resourceModel>
            </faqmanage>
            <faqmanage_mysql4>
                <class>Indglobal_Faqmanage_Model_Mysql4</class>
                <entities>
                    <faqmanage>
                        <table>faqmanage</table>
                    </faqmanage>
                </entities>
            </faqmanage_mysql4>
        </models>
        <resources>
            <faqmanage_setup>
                <setup>
                    <module>Indglobal_Faqmanage</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </faqmanage_setup>
            <faqmanage_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </faqmanage_write>
            <faqmanage_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </faqmanage_read>
        </resources>
        <blocks>
            <faqmanage>
                <class>Indglobal_Faqmanage_Block</class>
            </faqmanage>
        </blocks>
        <helpers>
            <faqmanage>
                <class>Indglobal_Faqmanage_Helper</class>
            </faqmanage>
        </helpers>
    </global>
</config>